body{
    scroll-behavior: smooth;
    background-color: #F6FCE5;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

#navigation {
    background-color: #ECF2DB;
    box-shadow: 0 0.2vw 1vw 0 gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    * {
        padding: 0;
        margin: 0;
    }
}

#navigation{
    > ul > li > a {
        padding: 0;
        img {
            padding-left: 2vw;
            height: 5em;
        }
    }
    ul, li {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        a {
            display: flex;
            align-items: center;
            padding: 2em 1vw;
            text-decoration: none;
            color: black;
            font-size: 1.2em;
        }
        #contact{
            background-color: #A8B48E;
        }
    }
}



#image-entreprise{
    img{
        width: 100%;
    }
}

#qui-sommes-nous{
    margin: 2vw;
    padding: 2vw;
    background-color: #D9DBC6;
    border-radius: 12px;
    text-align: center;
    
    h1{
        margin-top: 0;
        a{
            font-size: 1em;
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
    
    p{
        font-size: 1.3em;
    }
}

#conseil-aide{
    position: relative;
    top: 4vw;
    background-color: #ECE1B6;
    
    ul{
        font-size: 1.5vw;
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
        padding-left: 5vw;
        letter-spacing: 0.1vw;
        
        li{
            padding-top: 1.5vh;
        }
    }
}

#cartes-liens{
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    top: 2vw;
    background-color: #EFF2DA;
    padding: 5vw;
    
    .carte{
        min-width: 10em;
        padding: 1em;
        border: 0.2vw solid black;
        border-radius: 1vw;
        background-color: #F8FAE3;
        display: flex;
        align-items: center;
        
        img{
            width: 8em;
        }
        
        a{
            padding-left: 1vw;
            position: relative;
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 2.5em;
        }
    }
}

#collaborateurs{
    h1{
        position: relative;
        text-align: center;
        background-color: #E9EDDD;
        margin: 5vw 30vw;
        border-radius: 1vw;
        padding: 1.1vw;
        font-family: Franklin Gothic, sans-serif;
        font-size: 2vw;
    }
    #collabs{
        display: flex;
        justify-content: space-evenly;
        img{
            width: 12vw;
        }
        #fas{
            width: 20vw;
        }
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vw;
    background-color: #C1C1AB;
    font-size: 1.1vw;
    img{
        position: absolute;
        left: 5vw;
        width: 2vw;
    }
    p {
    }
}