.letterColor::first-letter {
    color: #C29FC3;
}

h1 {
    font-size: 4.8em;
    font-family: "Lilita One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#CADUS {
    background-color: #F6F6DB;
    display: flex;
    justify-content: space-around;

    ul {
        margin-top: 0.2em;
        list-style-type: none;
        font-family: "Lilita One", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-left: 3vh;
        font-size: 4em;

        .article{
            font-size: 0.5em;
        }
    }

    img {
        margin-top: 1em;
        height: 23em;
    }
    @media only screen and (max-width: 47em) {
        img {
            display: none;
        }

        justify-content: left;
    }
}

#But{
    background-color: #F2F6CC;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 5vh 13em 8em;

    h2 {
        padding-top: 1.6em;
        padding-bottom: 0.8em;
        font-size: 2.7em;
    }

    div {
        display: flex;
        justify-content: center;

        p {
            width: 27em;
            font-size: 2.4em;
            opacity: 66%;
        }
    }
}



#aide {

    #content{
        transform: scale(0.8);
    }
    background-color: #EEF3CD;

    h1 {
        margin-right: 4em;
        text-align: center;
    }

    #container {
        display: flex;
        justify-content: center;
        gap: 2em;
        padding: 0 2em 2em;

        #boutonAide {
            display: grid;
            padding: 2em 0;
            justify-content: center;
            gap: 2em;
            background-color: #ECE1B6;
            width: 62.5em;
            height: 35.313em;
            border-radius: 5em;
            margin-top: 2em;
            box-shadow:  20px 20px 63px #c4bb97,
            -20px -20px 63px #ffffd5;

            li {
                display: grid;
                grid-template-columns: 10em auto;
                align-items: center;
                list-style-type: none;

                span {
                    margin-left: 3vw;
                    margin-right: 1em;
                    font-family: "Lilita One", sans-serif;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 2em;
                }
            }
        }

        .NeumorphismButton{
            img{
                width: 65%;
                height: auto;
            }
            width: 100px;
            height: 100px;
            justify-self: right;
            border: none;
            border-radius: 50%;
            background: #ECE1B6;
            box-shadow:  20px 20px 40px #c6bd99,
            -20px -20px 40px #ffffd3;
            transition: all 0.9s ease;
        }

        .NeumorphismButton:hover{
            background: linear-gradient(145deg, #d4cba4, #fdf1c3);
            box-shadow:  20px 20px 40px #c6bd99,
            -20px -20px 40px #ffffd3;
            cursor: pointer;
        }

        .NeumorphismButton.active{
            background: #ECE1B6;
            box-shadow: inset 20px 20px 40px #c6bd99,
            inset -20px -20px 40px #ffffd3;
            transform: scale(0.95);
        }
    }

    #img-note{
        background-color: #ECE1B6;
        border-radius: 5em;
        display: flex;
        align-items: center;
        justify-items: center;
        box-shadow:  20px 20px 63px #c4bb97,
        -20px -20px 63px #ffffd5;

        img{
            width: 100%;
            height: auto;
        }
    }

@media only screen and (max-width: 80em) {
    #img-note {
        display: none;
    }

    h1 {
        margin-right: 0;
    }
    #boutonAide {
        flex:1;
    }
}
}

#textContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    #changingText {
        width: 31em;
        text-align: center;
        padding: 0.5em;
        background-color: #ECE1B6;
        box-shadow:  20px 20px 63px #c4bb97,
        -20px -20px 63px #ffffd5;
        border-radius: 1em;
        font-family: "Lilita One", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-optical-sizing: auto;
        font-size: 3em;
        transition: opacity 0.5s ease;
        opacity: 75%;

    }
}

#BtnMore{
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    button {

        margin-left: 100em;
        margin-bottom: 2em;
        height: 5em;
        width: 5em;
        border: none;
        background: #ECE1B6;
        box-shadow: 6px 6px 12px #d7cda6,
        -6px -6px 12px #fff5c6;
        border-radius: 15%;
        cursor: pointer;




        img {
            margin-top: 5px;
            width: 65%;
        }
    }
    button:hover {
         background: linear-gradient(145deg, #d4cba4, #fdf1c3);
         box-shadow: 6px 6px 12px #d7cda6,
         -6px -6px 12px #fff5c6;
     }

    button:active {
        box-shadow: inset 6px 6px 12px #d7cda6,
        inset -6px -6px 12px #fff5c6;
    }
}


