body{
    background-color: #F2F6CC;
}

#VosDroits{
    background-color: #F2F6CC;
    margin-top: 2em;
    h1{
        text-align: center;
        font-size: 2.3em;
        font-family: "Lilita One", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    ul{
        display: flex;
        list-style: none;
    }

    li{
        img{
            height: auto;
            width: 27em;
            margin-right: 4em;
            margin-top: 4em;

        }
        p{

            opacity: 70%;
            margin-top: 4em;
            margin-left: 4em;
            font-size: 2.1em;
            font-family: "Lilita One", sans-serif;
            font-weight: 500;
            font-style: normal;
        }
    }

    #leRole{
        margin-top: 3em;
        margin-right: 10em;
        margin-left: 10em;
        opacity: 40%;
        text-align: center;
        font-size: 1.5em;
        font-family: "Lilita One", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
}


#ErreurMedical {
    background-color: #E1E6C2;
    h1 {
        padding: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        font-size: 2.3em;
        font-family: "Lilita One", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    #carte{
        display: flex;
        justify-content: center;

        #LesTypes {
            padding: 1em;
            display: flex;
            margin-bottom: 5em;
            border-radius: 2em;
            background-color: #F6F6DB;
            height: auto;
            width: 40em;

            #ulImg {
                margin-top: 1em;
                display: grid;
                justify-content: center;
                gap: 2em;
                align-items: center;
                flex-direction: column;
                margin-bottom: 1em;

                li{
                    display: grid;
                    grid-template-columns: 10em auto;
                    align-items: center;
                }

                div {
                    margin-left: 1em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #C1C1AB;
                    height: 6em;
                    width: 6em;
                    border-radius: 1em;
                    img {
                        height: auto;
                        width: 4.5em;
                    }
                }
                p {
                    font-size: 1.5em;
                    font-family: "Lilita One", sans-serif;
                    font-weight: 500;
                    font-style: normal;
                }
            }


        }

    }




}


#DossierMedical{
    h1{
        margin-top: 1em;
        text-align: center;
        font-size: 2.3em;
        font-family: "Lilita One", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #ulTop{
        gap: 10em;
        padding-top: 3em;
        img{
            height: auto;
            width: 25em;
        }

        div{
            background-color: #E1E6C2;
            border-radius: 2em;
            height: 13em;
            width: 36em;
            padding: 1.5em;

            h2{
                text-align: left;
                font-size: 2em;
                font-family: "Lilita One", sans-serif;
                font-weight: 500;
                font-style: normal;
            }

            p{
                padding-top: 1em;
                font-family: "Libre Franklin", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 1.5em;
            }
        }
    }

    #ulBottom{
        gap: 5em;
        margin-top: 1em;
        #Acceder{
            margin-bottom: 5em;
            background-color: #E1E6C2;
            border-radius: 2em;
            height: 19em;
            width: 36em;
            padding: 1.4em;

            h2{
                text-align: center;
                font-size: 1.9em;
                font-family: "Lilita One", sans-serif;
                font-weight: 500;
                font-style: normal;

            }

            h3{
                text-align: center;
                font-family: "Libre Franklin", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 1.4em;
            }

            ul{
                gap: 0.75em;
                padding: 1em;
                display: grid;
                list-style: circle;
                font-family: "Libre Franklin", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 1.4em;

            }
        }

        #doc{
            background-color: #E1E6C2;
            border-radius: 2em;
            height: 23em;
            width: 20em;
            padding: 1em;
            margin-bottom: 2em;

            h2{
                text-align: center;
                font-size: 1.7em;
                font-family: "Lilita One", sans-serif;
                font-weight: 500;
                font-style: normal;

            }

            ul{
                gap: 0.5em;
                margin-left: 12%;
                padding: 1em;
                display: grid;
                list-style: circle;
                font-family: "Libre Franklin", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 1.4em;

            }

        }



    }

}

#Pourquoi_CADUS{
    background-color: #F8FAE3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1{
        padding: 1em 5em;
        text-align: center;
        font-size: 2.3em;
        font-family: "Lilita One", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    #global{
        display: flex;
        flex-wrap: wrap;
        margin-top: 4em;
        gap: 2em;

        #association{
            background-color: #D4D3B6;
            border-radius: 2em;
            height: 27em;
            width: 42em;
            padding: 1.2em;

            h2{
                font-size: 1.7em;
                font-family: "Lilita One", sans-serif;
                font-weight: 500;
                font-style: normal;

            }

            ul{
                gap: 0.75em;
                padding: 1em;
                display: grid;
                list-style: circle;
                font-family: "Lilita One", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 1.5em;
            }

            p{
                opacity: 50%;
                padding-top: 1em;
                font-size: 1.3em;
                font-family: "Lilita One", sans-serif;
                font-weight: 500;
                font-style: normal;
            }
        }

        #FaireAppel{

            background-color: #D4D3B6;
            border-radius: 2em;
            height: 20em;
            width: 14em;
            padding: 1em;

            p{
                text-align: center;
                font-size: 1.26em;
                font-family: "Lilita One", sans-serif;
                font-weight: 500;
                font-style: normal;
            }

        }
    }
    #div-btn{
        margin-top: 1em;
        margin-left: 50em;
        padding-bottom: 5em;
        display: flex;
        justify-content: center;
        gap: 1em;
        #img_contact{

            background-color: #D4D3B6;
            border-radius: 1em;
            height: 5em;
            width: 5em;
            padding: 1em;
            display: flex;
            justify-content: center;

            img{
                scale: 100%;
            }
        }
        button{
            cursor: pointer;
            background-color: #E1E6C2;
            border-radius: 1em;
            border: none;
            height: 5em;
            width: 5em;
            padding: 1em;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                scale: 9%;
            }
        }
        button:hover{
            background-color: #e0e0d0;
            transform: scale(1.1);
            transition: 0.5s;
        }
    }

}