
#contact-nous{
    text-align: center;
    margin-top:7em;
    font-size: 1.5em;
}

#formulaire-contact {
    background-color: #D9DBC6;
    margin-top: 5em;
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 5em;
    border-radius: 2em;
    align-items: center;
    padding: 2em;
    ul{
        padding-top: 3em;
        list-style-type: none;
        text-align: center;
        li{
            padding: 0.5em;
            font-size: 1.2em;
            input{
                width: 20em;
                height: 2em;
                background-color: #B4BAA6;
                border-radius: 2em;
            }
            textarea{
                width: 50em;
                height: 20em;
            }
        }
        .infos-persos{
            display: flex;
            justify-content: space-around;
        }
    }
    #mail-content{
        input{
            width: 80%;
            background-color: white;
        }
    }
}

#tel-adresse{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5em;
    hr{
        max-height: 30em;
    }
    .tel-adresse-carte{
        padding: 2em;
        padding-left: 5em;
        padding-right: 5em;
        border-radius: 2em;
        background-color: #D9DBC6;
        margin: 2em;
        text-align: center;
        max-width: 15em;
        img{
            width: 10em;
        }
    }
}