body{
    background-color: #F6FCE5;

}
#global{
    display: flex;
    align-items: center;
    padding: 15em;

    #profile{
        display: flex;
        flex-direction: column;
        background-color: #D9DBC6;
        border-radius: 1em;
        padding: 1em;
        height: 25em;
        width: 15em;

        ul{
            list-style: none;
            font-family: "Lilita One", sans-serif;
            font-size: 1em;
            font-weight: 500;
            font-style: normal;
            padding-left: 1em;
        }

        img{
            scale: 50%;

        }
    }
}