
body {
    background-color: #F6FCE5;
}



#global{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15em;
    padding-top: 5em;

}
h1 {
    margin-bottom: 1em;
    font-size: 3.5em;
    font-family: "Lilita One", sans-serif;
    font-weight: 500;
    font-style: normal;
}
form {
    background-color: #D9DBC6;
    border-radius: 1em;
    padding: 2em;
    width: 80%;
    max-width: 30em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;


    h2{
        padding: 1em;
        font-size: 1.5em;

    }
    textarea {
        resize: none;
    }

}

fieldset {
    border: none;
    display: none;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

fieldset.active {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

button{
    background-color: #B4BAA6;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



button:hover {
    background-color: #8E9478;
}

button.hidden {
    display: none;
}

.form-navigation {
    text-align: right;
    margin-top: 1em;
}


a{
    #btnExit{
        margin-top: 9em;
        background-color: #E1E6C2;
        border-radius: 1em;
        border: none;
        height: 5em;
        width: 5em;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            scale: 9%;
        }
    }
    #btnExit:hover{
        background-color: #e0e0d0;
        transform: scale(1.1);
        transition: 0.5s;
    }
}
